* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* || VARIABLES */

:root {
  /* COLORS */
  --BGCOLOR: #566771;

}

body {
  font-family: sans-serif;
  min-height: 100vh;
  /* background-color: var(--BGCOLOR); */
  
}

#root {
  /* React root div */
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
}

.public {
  padding: 1em;
  flex-grow: 1;
  background-image: url(./images/mainBgImg.png);
  background-size: cover;
  background-position: center;
}

.public_main {
  flex-grow: 1;
}


.public header {
  position: sticky;
  top: 0;
  z-index: 1;
  height: 25vh;
}

.public main {
  height: 60vh;
  
}
footer {
  font-size: 1rem;
  position: sticky;
  bottom: 0;
  margin-top: 2.5rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  gap: 2rem;
  
}

.footer-dt {
  display: flex;
  justify-content: space-between;
}

footer Link {
  text-decoration: none;
  color: white;
}