* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* || VARIABLES */

:root {
  /* COLORS */
  --BGCOLOR: #566771;

}

body {
  font-family: sans-serif;
  min-height: 100vh;
  /* background-color: var(--BGCOLOR); */
}

#root {
  /* React root div */
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
}

.public {
  padding: 1em;
  flex-grow: 1;
  background-image: url(./images/mainBgImg.png);
  background-size: cover;
  background-position: center;
}

.public_main {
  flex-grow: 1;
}


.public header {
  position: sticky;
  top: 0;
  z-index: 1;
  height: 25vh;
}

.public main {
  height: 60vh;
  
}
footer {
  font-size: 1rem;
  position: sticky;
  bottom: 0;
  margin-top: 2.5rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  gap: 2rem;
  
}

.footer-dt {
  display: flex;
  position: sticky;
  bottom: 0;
  justify-content: space-between;
  align-items: center;
  background-color: #566771;
  height: 7vh;

}

.dash-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 23vh;
}
.header-live_score {
  background-color: #566771;
  height: 50%;
}

.header-search_bar {
  background-color: #7E5C54;
  height: 25%;
}

.header-navbar {
  background-color: #3C8B8B;
  height: 25%;
}

.profile-container {
  display: flex;
  height: 70vh;
}

.registration, .login {
  display: flex;
  justify-content: space-between;
}

.registration-logo-site, .login-logo_side {
  height: 100vh;
  width: 50%;
  background-image: url(./images/mainBgImg.png);
  background-size: cover;
  background-position: center;
}

/* Registration Form Style */
form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-bottom: 1rem;
}

a, a:visited {
  color: #000;
}

input[type="text"],
input[type="password"],
button,
textarea {
font-family: 'Nunito', sans-serif;
font-size: 22px;
padding: 0.25rem;
border-radius: 0.5rem;
}

label,
button {
margin-top: 1rem;
}

button {
padding: 0.5rem;
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.instructions > svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.line {
  display: inline-block;
}
.regitration-sec {
  width: 50%;
  /* max-width: 420px; */
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  /* background-color: rgba(0,0,0,0.4); */
}

/* Login Page Style */
section {
  width: 100%;
  max-width: 420px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  background-color: rgba(0,0,0,0.4);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-bottom: 1rem;
}

a, a:visited {
  color: #fff;
}

input[type="text"],
input[type="password"],
button,
textarea {
font-family: 'Nunito', sans-serif;
font-size: 22px;
padding: 0.25rem;
border-radius: 0.5rem;
}

label,
button {
margin-top: 1rem;
}

button {
padding: 0.5rem;
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.instructions > svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.line {
  display: inline-block;
}